html *{
  color: rgb(122, 122, 122);
}
main{
  border: 1px solid rgb(122, 122, 122);
  border-radius: 5px;
  max-width: 40vw;
  margin: 2% auto;
  padding: 2%;
}
h1{
  margin-bottom: 0;
  font-size: 1.7rem;
}

form + section{
  margin-top: 3%;
  margin-bottom: 3%;
  margin-top: 3%;
  line-height: 1;
}
.weather-icon{
  max-width: 50px;
}

#cityTemp{
  color: black;
  font-size: 3.5rem;
  line-height: 1;
}

.left *{
  float: left;
}

li{
  list-style-type: none;
}

