html *{
  color: rgb(122, 122, 122);
}
main{
  border: 1px solid black;
  border-radius: 5px;
  max-width: 50vw;
  padding: 2%;
}
h1{
  margin-bottom: 0;
}

form + section{
  margin-bottom: 3%;
  line-height: 1;
}
.weather-icon{
  max-width: 80px;
}

.current-degree{
  font-weight:bold;
  color: black;
  font-size: 3.5rem;
  line-height: 1;
}

.left *{
  float: left;
}

li{
  list-style-type: none;
}

